* {
	border: 0;
	margin: 0;
	padding: 0;
}
html {
	overflow: hidden;
}
body {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: black;
	background-image: url('bg.jpeg');
	background-size: object-fit;
}

